/* Portfolio */
.portfolio-btn {
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.portfolio-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item {
  font-size: 16px;
  line-height: 1.88;
}
